@import './variables.scss';

.dashboard-root {
    @extend %root;
}

$listHeight: calc(32px + 5vmin);
$selectionSize: calc(10px + 0.8vmin);
$avatarPlaceholderSize: calc(10px + 1.6vmin);

.dashboard-selection {
    @extend %button, %flex-box;

    background-color: $backgroundColor;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 10px);
    max-width: 254px;
    margin: 1px;
    height: $listHeight;
    border: 1px solid $buttonColor;
    font-size: $selectionSize;
    font-weight: 400;
    padding: 4px;
    flex-grow: 0;
    flex-shrink: 0;
}

.dashboard-selection:hover {
    background-color: $buttonColor;
}

.dashboard-selection-noperms {
    @extend .dashboard-selection;

    border: 1px solid $errorColor;
}

.dashboard-list-avatar {
    width: $listHeight;
    height: $listHeight;
    line-height: $listHeight;
    min-width: 32px;
    min-height: 32px;
    text-align: center;
    font-size: $avatarPlaceholderSize;
    font-weight: 100;
    margin-right: 4px;
    background-color: $primaryColor;
    flex-shrink: 0;
    flex-grow: 0;
}


.dashboard-outer {
    @extend %outer-container;
}

.dashboard-inner {
    @extend %inner-container;
    
}

.dashboard-container {
    @extend %flex-box;

    width: 100%;
    margin-top: 2vh;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: flex-start;
}