@import './variables.scss';

.board-root {
    @extend %flex-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.board-header {
    @extend %header;
    border-bottom: 2px solid $textButtonColor-hover;
    padding: 1vmin 2vmin;
}

.board-error {
    @extend .announcement-box;

    width: calc(100% - 42px);
    background-color: inherit;
    border: 1px solid $errorColor;
    text-align: center;
    padding: 30px 20px;
    max-width: 33vw;
}

.board-button {
    @extend %button;

    width: calc(100% - 42px);
    max-width: 33vw;
    text-align: center;

    background-color: inherit;
    border: 1px solid $buttonColor;

    padding: 10px 20px;
}

.board-button-disabled {
    @extend .board-button;

    border-style: dashed;
    cursor: auto;
}

.board-button-disabled:hover {
    background-color: inherit;
}