
@import './variables.scss';

$emojiSize: calc(10px + 1.3vmax);
.message-emoji {
    width: $emojiSize;
    height: $emojiSize;
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
}

.messages-container {

    @extend %flex-box;

    width: 100%;
    vertical-align: middle;

}

.message-container {
    @extend %container;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    

    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid $outlineColor;
    margin-top: 10px;

    transition-property: border height;
    transition-duration: .5s;
    transition-timing-function: linear;

}

.message-contents {
    background-color: $primaryColor;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 22px);
    border: 1px solid $outlineColor;
    font-size: $fontSize;
    
}

.message-avatar {
    width: $avatarSize;
    height: $avatarSize;
    margin-right: 10px;
}

.message-author {
    font-weight: 100;
    font-size: $subheaderSize;
    word-wrap: break-word;

}

.message-text-button {
    @extend .message-author, %text-button;
    margin-bottom: 10px;
}

.message-mention {
    color: $buttonColor;
    background-color: rgba(105, 126, 196, 0.2);
}
.messages-header {
   
    @extend %header;

    text-align: left;
    width: 100%;

    font-size: $subheaderSize;
    border-bottom: 1px solid $buttonColor;
}

$discrimHeight: calc(#{$subheaderSize} - 0.75vmin);
.message-discriminator {
    font-weight: 100;
    font-size: $discrimHeight;
    line-height: $subheaderSize;
    color: grey;
}

.message-attachments-container {

    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 20px;
}

.message-button {
    @extend %button;


    font-size: $subheaderSize;
    line-height: $subheaderSize;
    margin-top: 10px;
    width: calc(50% - 47px);

    
}

@media screen and (max-width: 768px)
{
    .message-button {
        width: calc(100% - 42px);
    }
}
.message-header {
    @extend %header;
    font-size: $headerSize2;
    text-align: center;
    width: 100%;
}


.message-error-button {
    @extend .message-button;
    border: 1px solid $errorColor;


}



.message-error-button:hover {
    background-color: $errorColor;
}


.message-line {

    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;
    width: calc(80% - #{$avatarSize} - 20px);
    justify-content: flex-start;
    align-items: center;
}

.message-dropdown-button {
    @extend %text-button;
    font-size: $headerSize;
    text-align: right;

    align-self: flex-start;
    
}

.message-dropdown-outer {
    @extend %outer-container;
    width: calc(100% - 2px);
    height: 20vh;
    position: absolute;
    border: 1px solid $outlineColor;
    background-color: $secondaryColor;
    flex-shrink: 1;
    z-index: 99;
}
.message-dropdown-inner {
    @extend %inner-container;
    
    width: 100%;

    flex-shrink: 1;

    height: 100%;

}


.message-dropdown-container {
    @extend %container;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
    text-align: left;
    padding: 10px;
    width: calc(100% - 20px);
    flex-shrink: 1;

    background-color: inherit;

    height: fit-content;

}

.message-dropdown-content {
    @extend %text-button;
    font-size: $subheaderSize;
    line-height: $subheaderSize;
    height: $subheaderSize;

    width: 100%;

}

.message-id {
    @extend .message-discriminator;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.reaction-list-container {

    @extend %flex-box;
    width: 100%;

    padding: 0;
    margin: 0;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    

    align-items: stretch;

    align-content: flex-start;

    margin-top: 10px;

}

.reaction-error {

    @extend %error;

    width: calc(100% - 42px);
    font-size: $subheaderSize;
    margin-top: 10px;
}
.reaction-container {
    @extend %flex-box;
    
    width: calc((100% - 66px) / 3);

    justify-content: space-between;
    align-items: flex-start;

    text-align: left;
    background-color: $foregroundColor;
    border-radius: 5px;
    
    padding: 10px;

    border: 1px solid $outlineColor;

    margin-bottom: 2px;
    
    transition-property: border height;
    transition-duration: .5s;
    transition-timing-function: linear;
}
@media screen and (max-width: 1024px) {
    .reaction-container {
        width: calc((100% - 44px) / 2);
    }
}
@media screen and (max-width: 768px) {
    .reaction-container {
        width: calc(100% - 22px);
    }
}

.reaction-line {
    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;


    width: 100%;
}
.reaction-name {
    font-size: $subheaderSize;
    line-height: $subheaderSize;
    font-weight: 100;
}

$reactionButtonSize: calc(10px + 1vmin);
.reaction-button {
    @extend .message-button;
    font-size: $reactionButtonSize;
}


.reaction-error-button {
    @extend .message-error-button;
    font-size: $reactionButtonSize;

    margin-left: auto;
}

.reaction-emoji {
    @extend .message-emoji;

    
    width: 32px;
    height: 32px;

    

    border-radius: 5px;
}

.reaction-emoji-button {
    @extend .reaction-emoji, %button;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: $headerSize2;
    line-height: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    max-width: none;
    max-height: none;
    margin: 1px;
    border: 1px solid $buttonColor;

    transition: background-color .1s linear;
}


.reaction-name-button {
    @extend %text-button, .reaction-name;

    height: fit-content;
}

.reaction-sub {
    font-size: calc(10px + 0.4vmin);
    color: gray;
    font-weight: 100;
    text-align: left;

    word-wrap: break-word;

    width: 100%;
}

.reaction-dropdown {

    @extend %flex-box;

    flex-direction: column;


    justify-content: center;
    align-content: flex-start;
    align-items: center;

    width: calc(100% - 20px);
    border: 1px solid $outlineColor;
    padding: 10px;

    background-color: $backgroundColor;
    border-radius: 5px;
}

.reaction-dropdown-container {
    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: flex-start;
    align-items: flex-start;
}


.reaction-name-button-dropdown {

    @extend .reaction-name-button;

    font-size: calc(10px + 1vmin);
    width: calc(100% - 16px);
    padding: 0 5px;
    border-radius: 3px;
}

.reaction-name-button-dropdown:hover {
    border-left: 3px solid $textButtonColor-hover;
}

.reaction-inline-notif {
    @extend .reaction-error;

    font-size: $reactionButtonSize;

    padding: 10px 20px;
    margin: 0;
    margin-top: 10px;
    width: calc(100% - 42px);

    border-color: $buttonColor;
}

.reaction-inline-notif-error {
    @extend .reaction-inline-notif;

    border-color: $errorColor;
}


.message-textarea {
    
    overflow: hidden;
    color: white;
    padding: 10px;
    font-size: $fontSize;
    font-weight: 300;
    font-family: 'Roboto';
    resize: none;
    width: calc(100% - 22px) ;
    border-radius: 5px;
    background-color: $primaryColor;
    border: 1px solid $outlineColor;
}


.autocomplete-inner {
    @extend %inner-container;
    
    width: 100%;

    flex-shrink: 1;

    height: fit-content;
    z-index: 5;

}
.autocomplete-outer {
    @extend %outer-container;
    width: calc(100% - 2px);
    height: 25vh;
    position: absolute;
    transform: translateY(-100%);
    border: 1px solid $outlineColor;
    background-color: $secondaryColor;
    flex-shrink: 1;
    z-index: 5;
}

.autocomplete-container {
    @extend %container;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: inherit;
   
    
    text-align: left;
    padding: 10px;
    width: calc(100% - 20px);
    flex-shrink: 1;
}

.autocomplete-line {
    @extend %flex-box;

    flex-direction: row;
    cursor: pointer;

    width: 100%;

    height: 32px;
    padding-top: 1px;
    padding-bottom: 1px;

    border-radius: 5px;
}

.autocomplete-emoji {
    @extend .message-emoji;

}

.autocomplete-text {
    
    font-size: $fontSize;
    margin-left: 4px;
}

.autocomplete-active {
    background-color: $primaryColor;
}