
@import './variables.scss';

$emojiSize: calc(10px + 1.3vmax);
.message-emoji {
    width: $emojiSize;
    height: $emojiSize;
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
}

.messages-container {

    @extend %flex-box;

    width: 100%;
    vertical-align: middle;

}

.message-container {
    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    

    background-color: $backgroundColor;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid $outlineColor;
    margin-top: 10px;

    transition-property: border height;
    transition-duration: .5s;
    transition-timing-function: linear;

}

.message-container-editing {
    @extend .message-container;

    border: 1px dashed $buttonColor;
}

.message-container-deleting {
    @extend .message-container;

    border: 1px dashed $errorColor;
}

.message-contents {
    background-color: $primaryColor;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 22px);
    border: 1px solid $outlineColor;
    font-size: $fontSize;
    
}

.message-avatar {
    width: $avatarSize;
    height: $avatarSize;
    border-radius: 50%;
    margin-right: 10px;
}

.message-author {
    font-weight: 100;
    font-size: $subheaderSize;
    word-wrap: break-word;
}

.messages-header {
   
    @extend %header;

    text-align: left;
    width: 100%;

    font-size: $subheaderSize;
    border-bottom: 1px solid $buttonColor;
}

$discrimHeight: calc(#{$subheaderSize} - 0.75vmin);
.message-discriminator {
    font-weight: 100;
    font-size: $discrimHeight;
    line-height: $subheaderSize;
    color: grey;
}

.message-attachments-container {

    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 20px;
}

.message-button {
    @extend %button;

    background-color: inherit;
    border: 1px solid $buttonColor;

    font-size: $subheaderSize;
    line-height: $subheaderSize;
    font-weight: 100;
    text-align: center;
    margin-top: 10px;
    width: calc(50% - 47px);
    transition-property: background-color, border-color, border-style;

    transition-duration: 0.1s;

    
}

@media screen and (max-width: 768px)
{
    .message-button {
        width: calc(100% - 42px);
    }
}
.message-header {
    @extend %header;
    font-size: $headerSize2;
    text-align: center;
    width: 100%;
}

.message-button-active {
    @extend .message-button;

    cursor: auto;

    background-color: $buttonColor-hover;
}

.message-button-disabled {
    @extend .message-button;

    border-style: dashed;
    border-color: $buttonColor-hover;

    color: gray;

    cursor: auto;
}

.message-button-disabled:hover {
    background-color: inherit;
}
.message-error-button {
    @extend .message-button;
    border: 1px solid $errorColor;


}


.message-error-button:hover {
    background-color: $errorColor;
}

.message-error-button-disabled {
    @extend .message-error-button;

    color: gray;
    border-style: dashed;
    border-color: $errorColor-hover;
    cursor: auto;

    
}
.message-error-button-disabled:hover {
    background-color: inherit;
}

.message-line {

    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;
    width: calc(80% - #{$avatarSize} - 20px);
    justify-content: flex-start;
    align-items: flex-end;
}

.message-dropdown-button {
    @extend %text-button;
    margin-left: auto;
    font-size: $headerSize;
    text-align: right;

    align-self: flex-start;
    
}

.message-id {
    @extend .message-discriminator;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.message-textarea {
    
    overflow: hidden;
    color: white;
    padding: 10px;
    font-size: $fontSize;
    line-height: $fontSize;
    resize: none;
    width: 100%;
    border-radius: 5px;
    background-color: $primaryColor;
    border: 1px solid $outlineColor;
}

.reaction-list-container {

    @extend %flex-box;
    width: 100%;

    padding: 0;
    margin: 0;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    

    align-items: stretch;

    align-content: flex-start;

    margin-top: 10px;

}

.reaction-error {

    @extend .announcement-box;

    background-color: inherit;
    border: 1px dashed $errorColor;

    width: calc(100% - 42px);
    text-align: center;
    font-size: $subheaderSize;
    font-weight: 100;
    margin-top: 10px;
}
.reaction-container {
    @extend %flex-box;
    
    width: calc((100% - 66px) / 3);

    justify-content: space-between;
    align-items: flex-start;

    text-align: left;
    background-color: $foregroundColor;
    border-radius: 5px;
    
    padding: 10px;

    border: 1px solid $outlineColor;

    margin-bottom: 2px;
    
    transition: border .1s linear;
}
@media screen and (max-width: 1024px) {
    .reaction-container {
        width: calc((100% - 44px) / 2);
    }
}
@media screen and (max-width: 768px) {
    .reaction-container {
        width: calc(100% - 22px);
    }
}

.reaction-container-editing {
    @extend .reaction-container;

    border: 1px dashed $buttonColor;
}

.reaction-container-deleting {
    @extend .reaction-container;

    border: 1px dashed $errorColor;
}
.reaction-line {
    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;


    width: 100%;
}
.reaction-name {
    font-size: $subheaderSize;
    line-height: $subheaderSize;
    font-weight: 100;
}

$reactionButtonSize: calc(10px + 1vmin);
.reaction-button {
    @extend .message-button;
    font-size: $reactionButtonSize;
}


.reaction-button-disabled {
    @extend .message-button-disabled;
    font-size: $reactionButtonSize;

}

.reaction-error-button {
    @extend .message-error-button;
    font-size: $reactionButtonSize;

    margin-left: auto;
}

.reaction-emoji {
    @extend .message-emoji;

    
    width: 32px;
    height: 32px;

    

    border-radius: 5px;
}

.reaction-emoji-button {
    @extend .reaction-emoji;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: $headerSize2;
    line-height: 32px;
    width: 32px;
    height: 32px;
    max-width: none;
    max-height: none;
    margin: 1px;
    border: 1px solid $buttonColor;


    transition: background-color .1s linear;
}


.reaction-emoji-button:hover {
    background-color: $textButtonColor-hover;

}
.reaction-name-button {
    @extend .reaction-name;

    cursor: pointer;

    transition: color .1s linear;
}

.reaction-name-button:hover {
    color: $textButtonColor-hover;
}
.reaction-sub {
    font-size: calc(10px + 0.4vmin);
    color: gray;
    font-weight: 100;
    text-align: left;

    word-wrap: break-word;

    width: 100%;
}

.reaction-dropdown {

    @extend %flex-box;

    flex-direction: column;


    justify-content: center;
    align-content: flex-start;
    align-items: center;

    width: calc(100% - 20px);
    border: 1px solid $outlineColor;
    padding: 10px;

    background-color: $backgroundColor;
    border-radius: 5px;
}

.reaction-dropdown-container {
    @extend %flex-box;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: flex-start;
    align-items: flex-start;
}

.reaction-name-button-dropdown {

    @extend .reaction-name-button;

    font-size: $fontSize;
    line-height: $fontSize;

    width: calc(100% - 16px);
    padding: 0 5px;
    border-radius: 3px;
}

.reaction-name-button-dropdown:hover {
    border-left: 3px solid $textButtonColor-hover;
}

.reaction-inline-notif {
    @extend .reaction-error;

    font-size: $reactionButtonSize;

    padding: 10px 20px;
    margin: 0;
    margin-top: 10px;
    width: calc(100% - 42px);

    border-color: $buttonColor;
}

.reaction-inline-notif-error {
    @extend .reaction-inline-notif;

    border-color: $errorColor;
}