$primaryColor: #282B30;
$secondaryColor: #202225;
$foregroundColor: #26262B;
$backgroundColor: #18191C;
$outlineColor: #101010;
$errorColor: #F04747;
$errorColor-hover: #A33030;

$buttonColor: #7289DA;
$buttonColor-hover: #697ec4;

$textButtonColor: white;
$textButtonColor-hover: #33AAB3;

$navHeight: calc(32px + 2vmin);

$avatarSize: calc(32px + 1vmin);
$subheaderSize: calc(10px + 1.4vmin);


$fontSize: calc(10px + 0.6vmin);
$headerSize: calc(10px + 4vmin);
$headerSize2: calc(10px + 2vmin);

%header {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: $headerSize;
    line-height: $headerSize;
    color: white;
}

%root {
    background-color: $secondaryColor;
    color: white;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Roboto';
}

%flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
        display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
    
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100;
}

%button {
    cursor: pointer;
    font-size: $fontSize;
    color: white;
    background-color: inherit;
    border: 1px solid $buttonColor;
    border-radius: 4px;
    transition-property: background-color, border-color, border-style, border-width;
    transition-duration: .1s;
    text-decoration: none;
    height: fit-content;
    line-height: $fontSize;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
    
}
%button:hover {
    background-color: $buttonColor-hover;
}

%error-button {
    @extend %button;
    border-color: $errorColor;

}
%error-button:hover {
    background-color: $errorColor-hover;
}

%text-button {
    cursor: pointer;
    font-size: $fontSize;
    color: $textButtonColor;
    text-decoration: none;
    height: $fontSize;
    line-height: $fontSize;

    transition: color .1s linear;
}

%text-button:hover {
    color: $textButtonColor-hover;
}

%outer-container {
    @extend %flex-box;
    height: calc(100vh - #{$navHeight});
    
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
   
    margin: auto;
    width: 90vw;
    flex-grow: 0;
    flex-shrink: 0;
}


%inner-container {
    @extend %flex-box;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: overlay;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    height: 100%;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
}

%container {
    @extend %flex-box;

    background-color: $backgroundColor;
    border-radius: 5px;

    font-size: $fontSize;
    font-family: 'Roboto';
    font-weight: 300;
}

%error {
    border-radius: 5px;
    background-color: inherit;
    border: 1px dashed $errorColor;
    text-align: center;
    padding: 20px 20px;
    width: calc(100% - 42px);
    font-size: $subheaderSize;
    font-family: 'Roboto';
    font-weight: 100;
}


.announcement-box {
    margin-top: 2vh;
    white-space: pre-line;
    border-radius: 5px;
    background-color: $errorColor;
    padding: 20px;
    color: white;
    font-weight: 400;
    font-size: calc(10px + 0.75vmin);
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: 10px;
}

.loading {
    height: 10vmin;
}


.pushLeft {
    margin-right: auto;
}

.pushRight {
    margin-left: auto;
}

.pushDown {
    margin-top: auto;
}
.pushUp {
    margin-bottom: auto;
}

.circular {
    border-radius: 50%;
}

.disabled {
    border-style: dashed;
    cursor: auto;

    color: gray;
}

.disabled:hover {
    background-color: inherit;
}

.editing {
    border-style: dashed;
    border-color: $buttonColor;
}

.deleting {
    border-style: dashed;
    border-color: $errorColor;
}

.active-button {
    background-color: $buttonColor;
    cursor: auto;
}

.active-error {
    background-color: $errorColor;
    cursor: auto;
}

.button {
    cursor: pointer;
}